<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Info</th>
      <th>Content</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @posts.each do |post| %>
      <tr>
        <td>
        Timestamp: <%= post.created_at %><br>
        Title: <%= post.title %><br> <br>
        Image 1: <%= post.image_1 %><br>
        Image 2: <%= post.image_2 %><br>
        Image 3: <%= post.image_3 %><br>
        Tag: <%= post.tag %><br> <br>
        </td>
        <td class="table-post-content"><%= post.content %></td>

        <td><%= link_to 'Show', post %><br>
        <%= link_to 'Edit', edit_post_path(post) %><br>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <br>

<%= link_to 'New Post', new_post_path %> -->
