<p id="notice"><%= notice %></p>

<h2>
  <%= @post.created_at.to_date %> <br> <%= @post.title %>
</h2>
<div class="single-slider-holder">
<div class="single-slider">
  <div>
    <%= image_tag(@post.image_1, :class=>"single-slider-image") %>
  </div>
  <div>
    <%= image_tag(@post.image_2, :class=>"single-slider-image") %>
  </div>
    <div>
    <%= image_tag(@post.image_3, :class=>"single-slider-image") %>
  </div>
</div>
<div class="show-post-content">
  <div class="buttons-row">
  <button class="btn btn-default"><%= link_to 'Edit', edit_post_path(@post) %></button> 
  <button class="btn btn-default"><%= link_to 'Back', static_pages_index_path %></button>
  </div>
    <%= @post.content %>
</div>



