<!DOCTYPE html>
<html>
  <head>
    <title>Ritzblog</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rasa|Rubik+Mono+One" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>

  <body>
    <div id="wrapper">
        <div class="navigation">
        <div id="trapezoid">
        </div> 
      <div class="dropup">
        <button class="btn btn-primary dropdown-toggle" id="dropdown-button" type="button" data-toggle="dropdown">NAV
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu links-list">
        <li><%= link_to 'Home', static_pages_index_path %> </li>
         <li><%= link_to 'Add/Edit Posts', posts_path %> </li>
          <li><a href="http://ritz-site.bitballoon.com">See My Portfolio</a></li>
          <li><a href="#">About this Blog</a></li>
        </ul>
      </div>  
    </div>   
      <div class="content">    
         <%= yield %> 
      </div> 
      <div class="background">
        <div class="top-of-page-divs">
          <div class="corner1"></div>      
          <div class="site-title">B&nbsp;&nbsp;&nbsp;L&nbsp;&nbsp;O&nbsp;G</div>
        </div>
        <div class="dashes"></div>
      </div>
    </div>
  <div class="corner2"></div>
  </body>
</html>
